
.containers{
    margin-inline: auto;
    width: 100%;
    /* min-height: 100vh; */
  }
  .namefi-cont{
    margin-inline: auto;
    width: min(1200px, 100%);
  }
  .hero-bg{
    margin-inline: auto;
    width: min(1728px, 100%);
  }
  .namefi-header{
    /* background: #111111b3; */
    background: linear-gradient(0deg, #21212180, #21212180),linear-gradient(185.03deg, #f1fff84d -86.83%, #defff000 223.83%);
  }
 
  @media screen and (min-width: 1024px) {
    .cont{
    width: min(1200px, 100% - 58px);
    }
  }
 
::-webkit-scrollbar {
  padding: 0 6px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: transparent; 
}

::-webkit-scrollbar-track:vertical {
  border-left: 2px solid #48E59B33;
}

::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid #71E0AC;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 2px solid #48E59B33;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid #71E0AC;
}

.h5 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}
.h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: calc(14rem /16);
  font-weight: 400;
}