
.containers{
    margin-inline: auto;
    width: 100%;
    /* min-height: 100vh; */
  }
  .namefi-cont{
    margin-inline: auto;
    width: min(1200px, 100%);
  }
  .hero-bg{
    margin-inline: auto;
    width: min(1728px, 100%);
  }
  .namefi-header{
    background: linear-gradient(0deg, #21212180, #21212180),linear-gradient(185.03deg, #f1fff84d -86.83%, #defff000 223.83%);
  }
 
  @media screen and (min-width: 1024px) {
    .cont{
    width: min(1200px, 100% - 58px);
    }
  }
