
.italic {
    font-style: italic;
}

/* region H1 */
.h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: normal;
}

.h1.italic {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 300;
}

/* endregion H1 */
/* region H2 */
.h2-letter-spacing {
    letter-spacing: calc(0.10 * 28rem / 16);
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: calc(28rem / 16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.h2-all {
    @inline .h2;
    @inline .h2-letter-spacing;
}

.h2-character-letter-spacing {
    letter-spacing: calc(0.10 * 24rem / 16);
}

.h2-character {
    font-family: "Zilla Slab Highlight", sans-serif;
    font-size: calc(24rem / 16);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h2-character-all {
    @inline .h2-character;
    @inline .h2-character-letter-spacing;
}

/* endregion H2 */
/* region H3 */
.h3-letter-spacing {
    letter-spacing: calc(0.05 * 21rem / 16);
}

.h3 {
    font-family: Roboto, sans-serif;
    font-size: calc(21rem / 16);
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
}

.h3-all {
    @inline .h3;
    @inline .h3-letter-spacing;
}

.h3-subtitle-letter-spacing {
    letter-spacing: calc(0.10 * 21rem / 16);
}

.h3-subtitle {
    font-family: Roboto, sans-serif;
    font-size: calc(21rem / 16);
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
}

.h3-subtitle-all {
    @inline .h3-subtitle;
    @inline .h3-subtith3-letter-spacing;
}

/* endregion H3 */
/* region H4 */
.h4-letter-spacing {
    letter-spacing: calc(0.05 * 18rem / 16);
}

.h4 {
    font-family: 'Roboto', sans-serif;
    font-size: calc(18rem / 16);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.h4-all {
    @inline .h4;
    @inline .h4-letter-spacing;
}

.h4-subtitle-letter-spacing {
    letter-spacing: calc(0.02 * 18rem / 16);
}

.h4-subtitle {
    font-family: 'Roboto Mono', sans-serif;
    font-size: calc(18rem / 16);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.h4-subtitle-all {
    @inline .h4;
    @inline .h4-letter-spacing;
}


.h4-character-letter-spacing {
    letter-spacing: calc(0.10 * 18rem / 16);
}

.h4-character {
    font-family: "Zilla Slab Highlight", sans-serif;
    font-size: calc(18rem / 16);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h4-character-all {
    @inline .h4;
    @inline .h4-letter-spacing;
}


.h4-body-letter-spacing {
    letter-spacing: calc(0.02 * 18rem / 16);
}

.h4-body {
    font-family: "Roboto Mono", sans-serif;
    font-size: calc(18rem / 16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h4-body-all {
    @inline .h4;
    @inline .h4-letter-spacing;
}

/* endregion H4 */
/* region H5 */
.h5-letter-spacing {
    letter-spacing: calc(0.02 * 1rem);
}

.h5 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.h5-all {
    @inline .h5;
    @inline .h4-letter-spacing;
}

.h5-subtitle-letter-spacing {
    letter-spacing: calc(0.02 * 1rem);
}

.h5-subtitle {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 180%;
}

.h5-subtitle-all {
    @inline .h5;
    @inline .h4-letter-spacing;
}

/* endregion H5 */
/* region H6 */
.h6 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: calc(14rem / 16);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

/* endregion H6 */
.body-1-letter-spacing {
    letter-spacing: calc(0.05 * 14rem / 16);
}

.body-1 {
    font-family: Roboto, sans-serif;
    font-size: calc(14rem / 16);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.body-2-letter-spacing {
    letter-spacing: calc(0.05 * 14rem / 16);
}

.body-2 {
    font-family: Roboto, sans-serif;
    font-size: calc(14rem / 16);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.body-3 {
    font-family: "Roboto Mono", sans-serif;
    font-size: calc(14rem / 16);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subtitle-1-letter-spacing {
    letter-spacing: calc(0.02 * 12rem / 16);
}

.subtitle-1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: calc(12rem / 16);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.subtitle-2-letter-spacing {
    letter-spacing: calc(0.05 * 12rem / 16);
}

.subtitle-2 {
    font-family: Roboto, sans-serif;
    font-size: calc(12rem / 16);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
